label{
    padding: 5px;
}

h1{
    display: inline;
}
input{
    height: 28px;
}

#buttonRow{
    padding-top: 15px;
}
#currMedsBtn{
    margin-left: 30px;
}
#medsRow{
    padding-top: 15px;
    padding-left: 50px;
}
#pastMedsBtn{
    margin-left: 30px;
}
#firstCurrRow{
    padding-top: 25px;
    padding-left: 50px;
}
#currcol{
    padding-top: -50px;
}